.carousel {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 800px;
    min-width: 300px;
    white-space: nowrap; 
}

.carousel button {
    z-index: 1;
    position: absolute;
    top: 45%;
    color: #949494;
    border: 0;
    font-size: 2em;
    cursor: pointer;
    background: transparent;
}

.leftArrow {
    left: 1%;
}

.rightArrow {
    right: 0%;
}

.notVisible {
    display: none;
}

.leftArrow:before {
    content: "<";
    color: rgb(202, 196, 196);
}

.rightArrow:after {
    content: ">";
    color: rgb(202, 196, 196);
}

.carousel ul {
    margin: 0px;
    padding: 0px;
    transition: transform 0.4s ease-out;
}

.carousel li {
    vertical-align: top;
    list-style-type: none;
    display: inline-block; 
}

.carousel img {
    margin: 15px;
    box-shadow: 5px 10px 15px grey;
    width: 800px;
    height: 325px;
}


