.header a:link {
    text-decoration: none;
}

.header a:visited {
    color: rgb(43, 37, 35);
}

.header a:hover {
    color: #40A4C8;
    border-bottom: 1px solid black;
}

.header a:active {
    background-color: rgba(156, 240, 243, 0.993);
}

.header a {
    margin: 6px;
}
