.Carousel {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 885px; 
}

button {
    z-index: 1;
    position: absolute;
    top: 275px;
    color: #949494;
    border: 0;
    font-size: 44px;
    cursor: pointer;
}

.rightArrow {
    left: 92%;
}

.notVisible {
    display: none;
}

.leftArrow:before {
    content: "<";
}

.rightArrow:after {
    content: ">";
}

ul {
    transition: transform 0.4s ease-out;
    width: 3360px;
}

li {
    list-style-type: none;
    display: inline-block; 
    padding: 35px;
}

img {
    width: 765px;
    height: 490px;
}

