.carousel {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 985px; 
}

.carousel button {
    z-index: 1;
    position: absolute;
    top: 225px;
    color: #949494;
    border: 0;
    font-size: 44px;
    cursor: pointer;
}

.leftArrow {
    left: 45px;
}

.rightArrow {
    left: 928px;
}

.notVisible {
    display: none;
}

.leftArrow:before {
    content: "<";
}

.rightArrow:after {
    content: ">";
}

.carousel ul {
    transition: transform 0.4s ease-out;
    width: 5750px;
}

.carousel li {
    list-style-type: none;
    display: inline-block; 
    margin-right: 70px;
}

.carousel img {
    box-shadow: 5px 10px 15px grey;
    width: 925px;
    height: 425px;
}

