.header a:link {
    text-decoration: none;
}

.header .nav a:hover {
    color: rgba(75, 201, 206, 0.993);
}

.header .nav a.active{
    color: rgba(75, 201, 206, 0.993);
    border-bottom: 1px solid rgba(75, 201, 206, 0.993);
}

.header a {
    color: black;
    margin: 6px;
}


