.container {
    background-image: url('../../../assets/images/header-bg.jpg');
    background-size: 100% 600px;
    height: 600px;
}

.header {
    z-index: 999;
    width: 100%;
    position: fixed;
    padding: 10px;
    vertical-align: text-top;
}

.headerScrolled {
    background-color: black;
    width: 100%;
    position: fixed;
    padding: 10px;
}

.header .nav {
    margin-top: 10px;
    margin-right: 25px;
}

.header a:link {
    text-decoration: none;
}

.header .nav a:hover {
    color: rgba(75, 201, 206, 0.993);
}

.header .nav a.active{
    color: rgba(75, 201, 206, 0.993);
    border-bottom: 1px solid rgba(75, 201, 206, 0.993);
}

.header a {
    color: white;
    margin: 6px;
}