.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer a:link {
    text-decoration: none;
}


.footer .links {
    text-align: center;
    width: 100%;
    background: #434343;
}

.footer li {
    display: inline-block;
}

.footer .icon {
    padding: 0px;
}

.footer .icon li{
    margin: 6px;
}

.footer .infoText {
    color: white;
    margin: 20px;
}