.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer a:link {
    text-decoration: none;
}

.footer a {
    margin: 6px;
}

.footer .links {
    text-align: center;
    width: 100%;
    background: #434343;
}

.footer li {
    display: inline-block;
}